html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #8c8c8c;

}

.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.header{
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    margin-bottom: 300px;
}

.menu-list{
    display: flex;
    justify-content: space-between;
}

.menu-list li + li{
    margin-left: 30px;
}

.menu-list li:hover{
    color: #c7b299;
}

.header__btn{
    display: flex;
}

.header__btn a + a{
    margin-left: 25px;
}

.header-slider{
    position: relative;
    padding-bottom: 40px;
}

.header-slider__inner{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.header-slider__suptitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}

.header-slider__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 52px;
    line-height: 76px;
}

.header-slider__text{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
}

.header-slider__btn{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    padding: 12px 0;
    background-color: #998675;
    border-bottom: 3px solid #736357;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 325px;
    width: 170px;
}

.header-slider__arrows {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 11%;
}

#arrow-p,
#arrow-n{
    height: 75px;
}
.header-slider__arrows-prev{
    left: -160px;
    transform: translateX(50%);
}

.header-slider__arrows-next{
    right: -160px;
    transform: translateX(-50%);
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
}

.slick-dots button{
    width: 10px;
    height: 10px;
    background-color: #8b8c8f;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    outline: none;
    padding: 0;
}

.slick-dots .slick-active button{
    background-color: transparent;
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
}

.services__inner{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.services__item{
    max-width: 270px;
    text-align: center;
    position: relative;
}

.services__item::after{
    content: "";
    width: 70px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8c8c8c;
}

.services__item:hover::after{
    background-color: #c7b299;
}

.services__item-img{
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}


.services__item-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #555555;
}

.services__item:hover .services__item-title{
    color: #c7b299;
}

.services__item-text{
    line-height: 24px;
    margin-bottom: 30px;
}

.realisation{
    background-color: #fbfaf8;
}

.realisation__info{
    padding-top: 80px;
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
}

.title{
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 30px;
}

.realisation__title{

}

.text{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
}

.realisation__text{

}


.banner{
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
}

.banner__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__title{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 15px;
}

.banner__title span {
    color: #c7b299;
}

.banner__text{
    font-size: 18px;
    line-height: 18px;

}

.banner__btn{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    padding: 12px 0;
    background-color: #998675;
    border-bottom: 3px solid #736357;
    border-radius: 3px;
    display: inline-block;
    width: 170px;
    color: #fff;
    text-align: center;
}

.project__inner{
    padding: 80px 0;
}

.project__info{
    max-width: 780px;
    text-align: center;
    margin: 0 auto;
}

.project__content-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.project__tab{
    padding: 6px 20px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin: 0 5px;
}

.project__tab.tab--active{
    background-color: #998675;
    border: none;
    color: #ffffff;
}

.tabs-content{
    display: none;
}

.tabs-content.tabs-content--active{
    display: block;
}

.project__content-item{
    margin-bottom: 30px;
}

.project__content-info{
    background-color: #fbfaf8;
    padding: 30px;
}

.project__content-item:hover .project__content-info{
    background-color: #362f2d;
}

.project__content-title{
    color: #c7b299;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 20px;
}

.project__content-img{
    position: relative;
    height: 237px;
}


.project__shadow{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.project__content-item:hover .project__shadow{
    display: block;
}

.project__shadow-icon{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project__shadow-icon a{
    margin: 0 12px;
}

.project__content-item:hover .project__shadow-icon {
    display: block;
}

.project__content-btn{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    padding: 13px 0 10px;
    background-color: #998675;
    border-bottom: 3px solid #736357;
    border-radius: 3px;
    width: 170px;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.video{
    background-image: url(../img/video-bg.jpg);
    background-size: cover;
}

.video__inner{
    text-align: center;
    max-width: 575px;
    padding: 200px 0;
    margin: 0 auto;
}

.video__btn{
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-image: url(../img/video.png);
    border: none;
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    outline: none;
}

.video__title{
    color: #fff;
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.video__text{
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
}

.video__time{
    color: #c7b299;
    font-size: 14px;
    line-height: 14px;
}

.mobile__inner{
    margin-top: 80px;
    background-image: url(../img/mobile-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-left: 500px;
}

.mobile__info{
    max-width: 670px;
    padding-top: 120px;
    padding-bottom: 180px;
}

.mobile__title{
    margin-bottom: 40px;
}

.mobile__text{
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.mobile__list{
    margin-left: 50px;
}

.mobile__list-item{
    padding-left: 50px;
    position: relative;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.mobile__list-item::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 21px;
    height: 21px;
    background-image: url(../img/mobile-list.png);
}

.numbers{
    background-image: url(../img/numbers-bg.jpg);
    background-size: cover ;
}

.numbers__inner{
    padding: 60px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.numbers__item{
    position: relative;
}

.numbers__item::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.numbers__icon{
    margin-bottom: 17px;
}

.numbers__num{
    font-size: 48px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #fff;
    margin-bottom: 10px;
}

.numbers__text{
    color: #c7b299;
    margin-bottom: 28px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

